.parrafo1{
    border: 5px solid green;
    padding: 10px;
    width: 80%;
    
}

.parrafo2{
    border: 5px solid rgb(214, 110, 127);
    padding: 10px;
    width: 40%;
    position: relative;
    left: 30%;
    bottom: 30px; /* Hay que usar px, no se puede usar % */
    background-color: white;


}