*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
}

@media (min-width:360px){
   nav{
        background-color: hsl(313, 69%, 69%);
        padding: 2px;
        margin: 0px;
        text-align: center;
   }
   nav ul{
        margin: 0px;
        list-style: none;
    
   }
   nav ul li{
        margin: 5px;
        padding: 2px;
        font-weight: bold;
   }

   h1{
        text-align: center;
        font-size: 35px;
   }

   .descripcionÑoquis{
        text-align: center;
        margin-bottom: 30px;
   }

   .descripcionÑoquis h2:first-of-type{
        font-size: 30px;
   }

   .descripcionÑoquis p:first-of-type{
        font-size: 23px;
   }

   .descripcionÑoquis button:first-of-type{
        width: 50%;
        background-color: hsl(313, 69%, 69%);
        color: aliceblue;
        border: none;
        border-radius: 8px;
        padding: 8px;
   }

   .cardÑoqui{
        width: 80%;
        margin: auto;
        margin-bottom: 40px;
        border: 1px solid black;
        padding: 8px;
        text-align: center;
   }
   .cardÑoqui img{
        width: 100%;
   }

   .cardÑoqui h3{
        font-size: 25px;
   }

   .cardÑoqui button{
        width: 50%;
        background-color: hsl(313, 69%, 69%);
        color: aliceblue;
        border: none;
        border-radius: 8px;
        padding: 8px;
   }

   .nosotros{
    text-align: center;
    margin-bottom: 30px;
   }

   .nosotros h2{
        font-size: 30px;
   }

   .nosotros p{
        font-size: 18px;
   }

   footer{
    background-color: gray;
    color: aliceblue;
    padding: 2px;
    text-align: center;
   }
}

@media (min-width: 768px){

    nav{
        position: sticky;
        top: 0;
    }
    nav ul{
        display: flex;
        justify-content: center;
        padding: 20px;
        
    }

    .descripcionÑoquis h2:first-of-type{
        font-size: 40px;
    }

    .descripcionÑoquis p:first-of-type{
        font-size: 28px;
    }

    .descripcionÑoquis button:first-of-type{
        font-size: 24px;

    }

    

    .cardÑoqui h3{
        font-size: 30px;
    }

    .cardÑoqui button{
        padding: 10px;
        font-size: 24px;
    }
}

@media (min-width: 1024px){

    nav{
        font-size: 18px;
    }
    h1{
        font-size: 32px;
    }

    .descripcionÑoquis h2{
        font-size: 26px;
    }

    .descripcionÑoquis p{
        font-size: 26px;
    }

    .descripcionÑoquis button:first-of-type{
        width: 20%;
        font-size: 16px;

    }

    .containerÑoqui{
        display: flex;
        justify-content: space-evenly;
        
    }

    .cardÑoqui{
        margin: 10px;
        width: 30%;
        min-height: 400px;
       
    }

    .cardÑoqui img{
        height: 400px;
        
    }

    .cardÑoqui button{
        padding: 8px;
        font-size: 20px;
    }
}